.div{
    display:flex;
    gap: 127px;
    
    h3{
        color: var(--primary-color);
    }

    
}
p{
        color: var( --gray-color3);
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 12px;
    }