:root{
    --primary-color: #fd377e;
    --primary-color1: #e34981;
    --secondary-color:#03b898;
    --gray-color4: #212529;
    --gray-color3: #868e96;
    --gray-color2: #e9ecef;
    --gray-color1: #f8f9fa;
    --white-color: #ffffff;
    --font-primary : 'Nunito', sans-serif;
}