*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

ul,ol{
    list-style: none;
}

button{
    background: transparent;
    border: none;
}

input, select, textarea {
    background: transparent;
    border: none;
}